{% block navbar %} 
    <nav id="app-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
            
        <a class="navbar-brand" href="{% url 'Home' %}">
            {% load static %}
            <img src="{% static 'NewEra/reentry_logo.jpg' %}" width="35" height="33" class="d-inline-block align-top" alt="ReEntry Logo">
            <b>&nbsp;&nbsp;NewERA 412&nbsp;&nbsp;</b>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              {%  url 'Resources' as resources_url %}
              <a class="nav-link {% if request.path == resources_url %}active{% endif %}" href="{{ resources_url }}">Resources</span></a>
            </li>
            
            {% if user.is_superuser %}
              <li class="nav-item">
                {%  url 'Tags' as tags_url %}
                <a class="nav-link {% if request.path == tags_url %}active{% endif %}" href="{{ tags_url }}">Tags</a>
              </li>
            {% endif %}

            {% if user.is_authenticated %}
              <li class="nav-item">
                {% url 'Referrals' as referrals_url %}
                <a class="nav-link {% if request.path == referrals_url %}active{% endif %}" href="{{ referrals_url }}">Referrals</a>
              </li>
            {% endif %}

            {% if user.is_staff %}
              <li class="nav-item">
                {% url 'Case Load' as case_load_url %} 
                <a class="nav-link {% if request.path == case_load_url %}active{% endif %}" href="{{ case_load_url }}">Case Load</a>
              </li>
            {% endif %}

            {% if user.is_superuser %}
              <li class="nav-item">
                {% url 'Manage Users' as manage_users_url %}
                <a class="nav-link {% if request.path == manage_users_url %}active{% endif %}" href="{{ manage_users_url }}">Dashboard</a>
              </li>
            {% endif %}

            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Logout' %}">Log Out</a>
              </li>
            {% else %}
              <li class="nav-item">
                {% url 'Login' as login_url %}
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Log In</a>
              </li>
              <li class="nav-item">
                {% url 'About' as about_url %}
                <a class="nav-link {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a>
              </li>
            {% endif %}
          </ul>
        </div>
    </nav>
{% endblock %}