{% block navbar %} 
    <nav id="app-nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
            
        <a class="navbar-brand" href="{% url 'Home' %}">
            {% load static %}
            <img src="{% static 'NewEra/reentry_logo.jpg' %}" width="35" height="33" class="d-inline-block align-top" alt="ReEntry Logo">
            <b>&nbsp;&nbsp;NewERA 412&nbsp;&nbsp;|&nbsp;&nbsp;{% block navtitle %}Home{% endblock %}</b>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        {% if not user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Resources' %}">Resources<!--<span class="sr-only">(current)</span>--></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'About' %}">About</a>
              </li>
            </ul>
          </div>
        {% elif user.is_superuser %}
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Resources' %}">Resources<!--<span class="sr-only">(current)</span>--></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Tags' %}">Tags</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Case Load' %}">Case Load</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Manage Users' %}">Manage Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Logout' %}">Log Out</a>
              </li>
            </ul>
          </div>
        {% elif user.is_staff %}
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Resources' %}">Resources<!--<span class="sr-only">(current)</span>--></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Case Load' %}">Case Load</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Logout' %}">Log Out</a>
            </li>
          </ul>
        </div>
        {% endif %}
    </nav>
{% endblock %}