{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	About
{% endblock %}{% endblock %}

{% block page_specific_styles %}
<style>
    a {
        color: blue;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
    <div style="margin: auto; margin-top: 10%; width: 80%;">
        <h3>About NewERA412:</h3>
        <hr>
        <p>
            A custom WebApp running on <em style="font-weight: bold;">Django 3.0</em>.<br>Built for Taili Thompson in 67-373, Information Systems Consulting Project @ Carnegie Mellon University.
        </p>
        <p>
            Contact the webmasters for additional info:<br>
            <a href="https://github.com/mkornyev" target="_blank">Max Kornyev</a> | <a href="https://github.com/epiccrash" target="_blank">Joey Perrino</a> | <a href="https://github.com/brentthongg" target="_blank">Brent Hong</a>&nbsp;&copy; 2019 
        </p>
    </div>
{% endblock %}