{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
<style>
    a {
        color: blue;
        text-decoration: none;
    }
</style>
{% endblock %}


{% block title %}{% block navtitle %}
	About
{% endblock %}{% endblock %}


{% block content %}

    <div class="parallax">
        <h1 class="text-white parallax-text">WHO WE ARE</h1>
    </div>

    <div class="container" style="padding-top: 5vh;">
        <h2>What is Realistic ReEntry?</h2>
        <br />
        <p>
        Our mission is to reduce the dissonance among social service efforts and that serve communities, while presenting the opportunity to truly diversify the human capital of social service organizations, government agencies, employers, and foundations.
        </p>
        <p>
        Realistic Reentry is Pittsburgh’s first restorative based consulting firm. We enhance human relationships & communication required to improve program and policy outputs in addition to providing a culturally competent top-down & bottom up perspective that will intensify the richness of ideas and problem-solving capabilities of your team.</p>
        <p>
        Acknowledging the historical context of relationships among society and those who offend is the corner-stone of our work. We have extended the theoretical underpinnings of restorative practices to include: the delivery of services focused on authentic client engagement, increasing collaboration among organizations, and culturally competent perspective in the planning process.</p>
        <p>
        Contact the webmasters for additional info:<br>
        <a href="https://github.com/mkornyev" target="_blank">Max Kornyev</a> | <a href="https://github.com/epiccrash" target="_blank">Joey Perrino</a> | <a href="https://github.com/brentthongg" target="_blank">Brent Hong</a>&nbsp;&copy; 2020 

        </p>
        <!-- <br /> -->
        

        <!-- <a href="https://www.realisticreentry.org/" target="_blank"><button type="button" class="btn btn-outline-dark">Realistic ReEntry</button></a> -->
        <div style="padding-bottom: 5vh;"></div>
    </div>
{% endblock %}