<!doctype html>
<html>
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    {% load static %}
		<link href="{% static 'NewEra/styles.css' %}" rel="stylesheet" type="text/css">
		{% block page_specific_styles %}{% endblock %}
        <link rel="icon" href="{% static 'NewEra/reentry_logo.jpg' %}">
		<title>NewEra412 | {% block title %}Home{% endblock %}</title>
		<style>
			.form-input {
				border: 1px solid gray; 
				border-radius: 5px;
			}

			#filter-search {
				display: inline-block;
				width: 95%;
			}

			#filter-card .scroll-section {
				max-height: 45vh;
				overflow-y: scroll;
			}

			#filter-card ul {
				list-style: none;
			}

			.button-cell {
				padding: 2px;
			}
		</style>
		<!-- Material Icons CSS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body>
		{% include 'NewEra/_navbar.html' %}
		
		<!-- Django Messages Framework -->
        {% if messages %}
		<ul id="backend-messages" class="messages">
		    {% for msg in messages %}       
		    <li>
		        <div class="alert alert-{{msg.level_tag}}" role="alert">
		        {{msg.message}}
		        </div>
		    </li>
		    {% endfor %}
		</ul>
		{% endif %}

		<div class="content">
			{% block content %}{% endblock %}
		</div>

		<!-- Bootstrap Scripts -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		{% block page_specific_scripts %}{% endblock %}
	</body>
</html>