{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
<!-- {% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css"> -->
{% endblock %}

{% block title %}
	Case Load 
{% endblock %}

{% block content %}
    <div style="width: 80%; margin: auto; padding-top: 10vh;">
        <div class="">
            <h1>Case Load Management:</h1>

            <form method="POST" action="{% url 'Case Load' %}">
                <table>
                    {{form}}
                </table>
                
                {% if user.is_superuser %}
                <div style="margin-left: 10px;">
                    <label><b>User:</b></label><br>
                    <select name="staff_id">
                        {% for user in staff %}
                        <option value="{{ user.id }}">{{ user.first_name|add:' '|add:user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div><br>
                {% else %}
                <input type="hidden" name="staff_id" value="{{ user.id }}"><br> <!-- Logged in user_id --> 
                {% endif %}
                
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Caseload</button>
            </form>
        </div>

        <br><hr></br>

        {% if user.is_superuser %}
        <h2>All Users:</h2>
        {% else %}
        <h2>Your Caseload:</h2>
        {% endif %}

        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                {% if user.is_superuser %}
                <th>Assignee</th>
                {% endif %}
            </tr>
            {% for caseload_user in caseload_users %}
            <tr>
                <td>{{ caseload_user.get_full_name }}</td>
                <td>{{ caseload_user.email }}</td>
                <td>{{ caseload_user.phone }}</td>
                {% if user.is_superuser %}
                <td>{{ caseload_user.user.first_name|add:' '|add:caseload_user.user.last_name }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        
        <br></br>

    </div>
{% endblock %}