{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}{% block navtitle %}
	Edit Resource
{% endblock %}{% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col">

            <h3 style="margin: auto; margin-top: 50px; text-align: center;">
                {{ action }} Resource
            </h3>

            <!-- Using "clear" does not actually delete the image from the MEDIA_ROOT -->
            

            <form method="POST" enctype="multipart/form-data" class="resource-form">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <button class="btn btn-primary" type="submit">Save Resource</button>
            </form>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}

{% block page_specific_scripts %}
{% endblock %}