{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Show Resource
{% endblock %}{% endblock %}

{% block content %}
<div class="container" style="padding-top: 10vh;">
        {% if resource.image %}
            <div class="text-center">
                <img class="resource-img shadow" src="{% url 'Image' resource.id %}"></img>
            </div>
            <br><br>
        {% endif %}
        
        <div class="row">
            <div class="col-lg-8 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h3>{{ resource.name }}</h3>
                        {% if tags.count > 0 %}
                            {% for tag in tags %}
                                <p>{{ tag.name }}</p>
                            {% endfor %}
                        {% endif %}

                        {% if perms.resource.edit_resource %}
                            {% if resource.is_active %}
                                Status: <p class="text-success">Active</p>
                            {% else %}
                                Status: <p class="text-danger">Inactive</p>
                            {% endif %}
                        {% endif %}

                        {% if resource.description %}
                            <br>
                            <h3 style="margin: auto;">
                                Description
                            </h3>
                            <br>
                            <p>
                                {{ resource.description }}
                            </p>
                        {% endif %}

                        {% if resource.url or resource.phone or resource.email %}
                            <h3>Contact</h3>
                        {% endif %}
                        {% if resource.url %}
                            <p><a href="{{resource.url}}" class="read-link"><i class="material-icons">link</i>&nbsp;&nbsp;{{ resource.url }}</a></p>
                        {% endif %}

                        {% if resource.phone and resource.extension %}
                            <p><a href="tel:{{resource.phone}}p{{resource.extension}}" class="read-link"><i class="material-icons">phone</i>&nbsp;&nbsp;{{ resource.phone }}x{{resource.extension}}</a></p>
                        {% else %}
                            {% if resource.phone %}
                                <p><a href="tel:{{resource.phone}}" class="read-link"><i class="material-icons">phone</i>&nbsp;&nbsp;{{ resource.phone }}</a></p>
                            {% endif %}
                        {% endif %}

                        {% if resource.email %}
                            <p><a href="mailto:{{resource.email}}" class="read-link"><i class="material-icons">email</i>&nbsp;&nbsp;{{ resource.email }}</a></p>
                        {% endif %}

                        {% if resource.fax_number %}
                            <p><a href="tel:{{resource.phone}}" class="read-link"><i class="material-icons">print</i>&nbsp;&nbsp;{{ resource.fax_number }}</a></p>
                        {% else %}
                            <p>&nbsp;</p>
                        {% endif %}

                        {% if resource.contact_name %}
                            <h3>Contact</h3>
                            {% if resource.contact_position %}
                                <p>{{ resource.contact_name }}, {{ resource.contact_position }}</p>
                            {% else %}
                                <p>{{ resource.contact_name }}</p>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h3>Address</h3>
                        {% if resource.street %}
                            {% if resource.street_secondary %}
                                <p><i class="material-icons">location_on</i>{{ resource.street }} {{ resource.street_secondary }}, {{ resource.city }}, {{ resource.state }} {{ resource.zip_code }}</p>
                            {% else %}
                                <p><i class="material-icons">location_on</i>{{ resource.street }}, {{ resource.city }}, {{ resource.state }} {{ resource.zip_code }}</p>
                            {% endif %}
                        {% else %}
                            <p>N/A</p>
                        {% endif %}
                        <br>
                        <h3 style="margin: auto;">
                            Hours of Operation
                        </h3>
                        {% if resource.hours  %}
                            <p>{{ resource.hours }}</p>
                        {% else %}
                            <p>N/A</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br><hr></br>

        {% if perms.resource.edit_resource %}
            <a href="{% url 'Edit Resource' resource.id %}" class="btn btn-warning"><i class="material-icons">edit</i>Edit</a>
        {% endif %}

        {% if perms.resource.delete_resource %}
            <a href="{% url 'Delete Resource' resource.id %}" class="btn btn-danger"><i class="material-icons">delete</i>Delete</a>
        {% endif %}

    </div>
    <p>&nbsp;</p>

{% endblock %}