{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Change Password Done
{% endblock %}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col">
 
	            <h3 style="margin: auto; margin-top: 50px; text-align: center;">
	                Change Password
	            </h3>
	            <br/>

	            <p style="margin: auto; text-align: center;">Your password has been changed.</p>

            </div>
        </div>
    </div>
{% endblock %}