{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Reset Password 
{% endblock %}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col">
 
	            <h3 style="margin: auto; margin-top: 50px; text-align: center;">
	                Reset Password
	            </h3>
	            <br/>

	            <!-- Only allow the user to change their password if they are already logged in -->
	            {% if request.user.is_authenticated == False %}
		            <p style="margin: auto; text-align: center;">Enter your email address below and you'll receive an email with instructions to reset your password.</p>
		            <br/>

		            <form method="POST" enctype="multipart/form-data" class="resource-form">
		                {% csrf_token %}
		                <table>
		                    {{ form }}
		                </table>
		                <br/>
		                <button class="btn btn-primary" type="submit">Send Password Reset Email</button>
		            </form>
		        {% else %}
		        	<p style="margin: auto; text-align: center;">You are already logged in. To reset your password, please log out.</p>
		        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}