{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Reset Password Done
{% endblock %}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col">
 
	            <h3 style="margin: auto; margin-top: 50px; text-align: center;">
	                Reset Password
	            </h3>
	            <br/>

	            <p style="margin: auto; text-align: center;">Instructions for resetting your password have been sent to your email address. If you don't see the email, please check your spam folder.</p>

            </div>
        </div>
    </div>
{% endblock %}