{% extends "NewEra/base.html" %}

{% block title %}
	Tags
{% endblock %}

{% block content %}
	<h1 style="margin: auto; margin-top: 50px; text-align: center;">
		Tags
	</h1>

	<div class="container">
		<hr/>
		{% if perms.tag.create_tag %}
			<a href="{% url 'Create Tag' %}" class="btn btn-primary"><i class="material-icons">add</i>Add Tag</a>
		{% endif %}
	</div>
	<p>&nbsp;</p>
	{% if tags.count > 0 %}
		<div class="container">
			<div class="row">
				{% for t in tags %}
					<div class="col-sm-4 mb-3">
						<div class="card border-0 shadow">
			                <div class="card-body">
								<h4 class="card-title">{{ t.name }}</h4>
								<span>
									{% if perms.tag.edit_tag %}
										<a href="{% url 'Edit Tag' t.id %}" class="btn btn-warning"><i class="material-icons">edit</i>Edit</a>
									{% endif %}
									{% if perms.tag.delete_tag %}
								        <a href="{% url 'Delete Tag' t.id %}" class="btn btn-danger"><i class="material-icons">delete</i>Delete</a>
								    {% endif %}
								</span>
			               	</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	{% else %}
	  <p style="margin: auto; margin-top: 50px; text-align: center;"><em>There are no tags at this time.</em></p>
	{% endif %}
	<p>&nbsp;</p>
{% endblock %}