div.heading-banner {
    margin: auto; 
    padding-top: 12vh; 
    padding-bottom: 7vh; 
    text-align: center;
    background-color: lightgray;
}

div.heading-banner h1 {
    font-size: 2rem;
}

div.heading-banner p {
    font-weight: 100;
}

div.secondary-content {
    padding-top: 5vh;
}

