/* Page Styles  */

* {
    margin: 0;
    padding: 0;
}

#app-nav {
    padding-left: 10%;
    padding-right: 10%;
}

.content {
    margin: auto;
    width: 100%;
}

table th, table td {
    /* padding-left: 10px; */
    padding-right: 10px;
}

ul.errorlist {
    color: indianred;
}

.tab-pane {
    padding: 20px;
}

.inline-label {
    display: inline-block;
    vertical-align: top;
}