/* Page Styles  */

* {
    margin: 0;
    padding: 0;
}

#app-nav {
    padding-left: 10%;
    padding-right: 10%;
}

.content {
    margin: auto;
    width: 100%;
}

table th {
    padding-right: 20px;
}

ul.errorlist {
    color: indianred;
}